@mixin reset-list {
  color: #245;
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin auto-align {
  margin: {
    left: auto;
    right: auto;
  };
}

@mixin custom-button($color: red) {
  border: 5px solid $color;
  background-color: $color;  
  margin: auto;
  width: 140px;
  padding: 10px;
  text-align: center;

  &:hover {
    background: rgba($color, 0.6);
  }
}
