<lib-ds-header
  [logoPath]="'/custom-assets/cariad-logo-noSublime.svg'"
  [logoAltText]="'cariad logo'"
  [homePath]="'test'"
  [appTitle]="'Your App-Title'"
  [appVersionNumber]="'1.0.0'"
  [isSidenavToggleDisabled]="false"
  [isSidenavToggleHidden]="false"
  [userData]="userData"
  [isUserMenuHidden]="false"
></lib-ds-header>

<lib-my-button></lib-my-button>

<div class="demo-image">
    <h3>Style: Using Image</h3>
    <img [src]="'/custom-assets/angular-next.png'" alt="I am a Image from the Asset Library" />
  </div>

  <div [ngStyle]="{ 'padding' : '30px'}">
    <div class="custom-add-button">
      <span>add</span>
    </div>
  </div>  