@import 'dist/my-library/assets/lib-styles.scss';
@import 'dist/my-library/assets/themes/custom-theme.scss';

// Angular Material changing fonts
$custom-typography: mat-typography-config(
  $font-family: 'Roboto',
);
@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
  // background-color: $dark-background;
}

.custom-add-button {
  @include custom-button(blue);  
}
